* {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    width: 450px;
    height: 450px;
    background-color: aquamarine;
    margin: 50px auto;
}

.container span {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px dotted black;
}

.caja1 {
    background-color: yellow;
    position: relative;
    top: 120px;
    left: 120px;
    z-index: 100;
}

.caja2 {
    background-color: blue;
    position: relative;
    top: 20px;
    left: 20px;
}

.caja3 {
    background-color: red;
    position: relative;
    top: 20px;
    left: 20px;
}