*{
    
    font-family: 'Rubik Beastly', 'Comforter', cursive;

}

/* POSITION || POSICION */

.caja10{
    background-color: rgb(112, 61, 61);
    width: 150px;
    height:150px;
}
.caja20{
    background-color: rgb(224, 19, 19);
    width: 150px;
    height:150px;
}
.caja30{
    background-color: rgb(27, 224, 231);
    width: 150px;
    height:150px;
}
.caja40{
    background-color: rgb(194, 109, 209);
    width: 150px;
    height:150px;
}



