/* continuara en estilo.css y _segundo.html */


/* OUTLINE */

/* para colocar objetos sobre puestos O sea,no ocupa espacio, no mueve otros elementos  */

.caja1{
    width: 120px;
    height: 120px;
    background-color: violet;
    outline: 10px dashed lawngreen;
    margin:auto;
    box-sizing: content-box;
}z

.caja2{
    width: 120px;
    height: 120px;

    background-color: yellow;
    margin:auto;

}

.caja3{
    width: 120px;
    height: 120px;

    background-color: rgb(164, 184, 154);
    margin:auto;

}

.caja4{
    width: 120px;
    height: 120px;

    background-color: green;
    margin:auto;

}





/* ROTAR COSAS */
.holas{
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}


/* SOMBRES DE CAJAS Y TEXTO */

.box-shadow{

    display: flex;
    display: inline-block;
    justify-content: center;
    align-items:center;
    padding: 20px 40px;
    border: 4px outset burlywood;
    margin: 40px;
/*  CAJAS EJES   X |  Y | difumidado | border = 0 | color*/
    box-shadow: 8px  8px 6px 0px #878787, 8px  8px 6px 0px #878787  ;
    
    /* TEXTO  X | Y | difumi| color */
    text-shadow: 3px 3px 3px rebeccapurple;
    /* se puede repetir la propiedad para intencificar la sombra */

}

/* BOX-MODEL || MODELO DE CAJA, GERARQUIA DE CAJAS*/

/*  1 content || contenido
    2 padding  ||espacio interno
    3 border || bordes
    4 margin ||marger */

 .box-model{
    

    /* 1 */
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items:center;
    /* 2 */
    padding: 20px 40px;
    /* 3 */
    border: 4px outset burlywood;
    /* 4 */
    margin: 10px 20px;
}





/* BORDES */

[id="haw"]{
    width: 100px;
    height: 100px;
   display: inline-block;
   border: 4px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   border-color: black;
   border-style:solid;
   margin: 20px;

   /* lo mismo pero más barato| tamaño, style y color */
   border-top: 5px dashed blueviolet;
   border-right: 5px outset gold;
   border-bottom: 5px dotted forestgreen;
   border-left: 5px double blue
}



/* MARGIN */

.holas, .content{
    margin: 40px 30px;
    
    
    margin: 40px 30px 40px 20px;

    margin-top: 50;
}






/* PADDING */

.holas {

    border: 1px solid;
    display: inline-block;
    background-color: blueviolet;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;

    /* lo mismo pero más barato */
    padding: 10px 20px 30px 40px;


    /* 10 para arriba|abajo && 20 para dere|izq  */
    padding: 10px 20px;

    box-sizing:content-box ;

}




/* CAJAS */

/* los display en linea no soportan estas propiedades width height */

.content {
    border: 5px solid ;
    width: 30px;
    height: 35px;
    background-color: chartreuse;


    /* TAMAÑO DE CAJAS */

    /* las propiedades como medidas se agregan a su tamaño definido width + padding etc*/
    box-sizing: border-box;
    box-sizing: content-box;
    
    /* el contenido que alberga la caja no sobrepasa el borde de la caja principal */

}


/* 28/enero */


/*   MEDIDAS HEREDADAS */


.container {
    font-size: 20px;
}

/* la clase subcontainer heredara de la container los 20 px por em */

.sub-container {
    font-size: 1em;
    /* tamaño heredado de la .container, 1em = 20px   */

    font-family: Georgia, 'Times New Roman', Times, serif;
    /*tipografias  */

    line-height: 2;
    /*altura de líneas  */

    font-weight: bold;
    /*peso de fuente o ancho */
}



/* TIPOGRAFIAS || PROPIEDADES DE TEXTO*/

/* el font-size definido en en px una caja contenedora, hara que cada em sean igual a cada al tamaño definido en la caja contenedora  */

.contenedor {
    font-size: 25px;
    width: 50vw;
    height: 50vh;
}

.div-2 {
    font-size: 1em;
    font-family: 'Luxurious Roman', georgia, cursive;
    line-height: 3;
    font-weight: 900;
}



/* SELECTORES */



h1 {
    background-color: red;
}

.contenedor {
    border: 2px;
}

[es-negro="true"] {
    color: rgb(0, 0, 0);
}

#navegacion {
    background-color: aqua;
}

div p a {
    width: auto;
    display: inline-block;
}

h2:hover {
    color: violet;
}


.noExisteEstaClase:hover {
    color: violet !important;
}

p.holas{
    /* seleccionara al p con la clase .holas */
    
}

