* {
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    height: 500px;
    background-color: green;
    border: 1px dotted gray;
    margin: 100px auto;
    position: relative;
}

.container span {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid darkblue;
    z-index: -100;
}

.cajas1 {
    background-color: yellow;
    position: absolute ;
    top: 0;
    right: 0;
}

.cajas2 {
    background-color: blueviolet;
    position: absolute ;
    left: 0;
    
}

.cajas3 {
    background-color: orange;
    position: absolute ;
    bottom: 0;
    
}

.cajas4 {
    background-color: chocolate;
    position: absolute ;
    bottom: 0;
    right: 0;
}