* {
    font-family: Georgia, 'Times New Roman';
    font-weight: 100;
    font-size: 10px;
}


div {
    height: 200px;
    width: 200px;
}

.padre {
    /* position: relative; */
}

.caja1 {
    background-color: gray;
    position: relative;
    left: 10px;
    top: 10px;
    /* right: 10px; */
    /* bottom: 10p  x; */
}

.caja2 {
    background-color: gold;
    position: absolute;
    top: 30px;
    left: 30px;

}

.caja3 {
    background-color: yellowgreen;
    position:fixed;
    top: 10px;
    left: 50%;
}

.caja4 {
    background-color: cyan;
}

.caja5 {
    background-color: orange;
}